ies {
    font-family: Helvetica;
  }
  
nombreCentro {
    display: block;
    float: right;
    font-size: 150%;
    margin: 10px;
}

web {
    display: block;
    float: left;
    margin: 10px;
}
  
ciclos {
    clear: both;
    display: table;
    border-spacing: 10px;
    margin: auto;
}
  
ciclo {
    display: table;
    border: 1px solid black;
    margin: 10px;
}
  
nombre, grado, decretoTitulo {
    display: table-row;
    background-color: lightgreen;
    padding: 10px;
    margin: 10px;
}