ies {
    font-family: Helvetica;
} 

nombreCentro {
    display: block;
    font-size: 150%;
    float: left;
}

web {
    display: block;
    font-size: 150%;
    float: right;
}

ciclos{
    display: block;
    clear: both; /* Clear Floats*/
}


ciclo{
    display: table;
    border-spacing: 10px;
    border: 1px solid black;
    margin: auto;
    width: 50%;

}

ciclo nombre{
    display: table-caption;
    text-align: center;
    background-color: grey;
    border: 1px solid black;
    margin-top: 10px;
}

ciclo grado, decretoTitulo {
    display: table-cell;
    width: 50%;
    text-align: center;
    border: 1px solid black;
}


