ies {
  display: block;
}

nombreCentro{
  display: block;
  font-style: normal;
  font-size: larger;
  font-weight: bold;
  margin-bottom: 10px;
}

web{
  display: block;
  margin-bottom: 10px;
}

grado{
  display: list-item;
  list-style: lower-roman;
  margin-left: 10px;
}

decretoTitulo{
  display: list-item;
  list-style: lower-roman;
  margin-left: 10px;
}