ies {
  display: block;
}

nombreCentro{
  display: block;
  font-style: normal;
  font-size: larger;
  font-weight: bold;
  margin-bottom: 10px;
}

web{
  display: block;
  margin-bottom: 10px;
}

ciclo{
  margin: 20px;
}

grado, nombre, decretoTitulo{
  display: list-item;
  list-style: lower-latin;
  margin-left: 40px;
}

